/*styles go here*/

p {
font-family: 'Roboto', sans-serif;
}

h1 {
  color: #633333;
font-family: 'Merriweather', serif;
}
h2{
  color: #B33333;
font-family:'Roboto', sans-serif;
}

h3{
  color:#ebe3f3;
  font-family: 'Open Sans', sans-serif;
}
#container{
  width:95%;margin:0 auto;text-align:center;
}
body {
  background-color:#ebe3f3
}

#nav{
  padding:0;
  list-style-type:none;
}

#nav li {
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: center;
}
#footer {
   color: black;
   font-family: Georgia, "Times New Roman", serif;
   font-size: 0.8em;
   border-top: 1px solid black;
}
img {
	border: none;
}
